﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This web-site is designed to facilitate displaying images on SSD1306 OLED screens from micropython (and perhaps also python).  The instructions are on the homepage, and this is just a helper tool I am using that I have shared in-case it assists others.</p>

<p>The source code for this site is available in my bitbucket repository: <a href="https://bitbucket.org/codeconsultants/image2oled/">https://bitbucket.org/codeconsultants/image2oled/</a></p>