﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    15 Collingwood Road<br />
    Sutton, Surrey, SM1 2RW<br />
    United Kingdom<br/>
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Sales@code-consultants.co.uk">Sales@code-consultants.co.uk</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@code-consultants.co.uk">Marketing@code-consultants.co.uk</a>
</address>
