﻿@{
    ViewData["Title"] = "Home Page";
}

@*<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how to build ASP.NET apps that can run anywhere.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>*@

@*<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>How to</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Overview</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Run &amp; Deploy</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
        </ul>
    </div>
</div>*@

<div class="jumbotron">
    <div class="lead">
        Code-Consultants - Image 2 OLED Converter
    </div>
    <div>
        This page is designed to supported users of python/micropython with the SSD1306 OLED boards (such as the onboard OLED on the Lolin ESP32 dev boards).
    </div>
    <div>
        This is provided without warranty or support, but please feel free to upload images and try the output with your boards.  I will update the site with some example code at a later stage.
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm(FormMethod.Post, new {enctype = "multipart/form-data"}))
            {
                <div>
                    <input type="file" name="image" placeholder="Please select an image to convert" />
                </div>
                <div>
                    <button type="submit">Convert Image</button>
                </div>
            }
        </div>
        <div class="col-md-8">
            <h3>Output</h3>
            <div style="word-wrap: break-word">
                @if (ViewBag.Converted == null)
                {
                    <em>Upload a file to view it converted to B&amp;W, MVLSB format for SSD1306 OLED screens.</em>
                }
                else
                {
                    <text>@ViewBag.Converted</text>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>Micropython Usage:</h2>
            <h4>Requirements:</h4>
            <ul>
                <li><a href="https://github.com/micropython/micropython/blob/master/drivers/display/ssd1306.py">ssd1306.py</a> - Please ensure that you have this library installed in your micropython instance, or that it is saved in the same directory as your referencing scripts.</li>
                <li>A converted image - <em>Submit to the form above to generated a bytearray declaration.s</em></li>
                <li>An ESP32, ESP8266, ESP8285, or other Micropython compatible IoT board/chip/platform (such as WeMos, NodeMCU, Lolin, etc.).</li>
                <li>An SSD1306 OLED screen, such as the onboard OLED for the Lolin ESP32 dev-board.</li>
                <li>Which pins are connected for I2C</li>
            </ul>
            <h4>Script Example:</h4>
            <ul style="list-style-type: none">
                <li><em># In this example the Lolin/WeMos ESP32 with onboard SSD1306 is used, so the pins are SDA=5, SCL=4 ... amend according to your wiring.</em></li>
                <li>from micropython import const</li>
                <li># Declare pin constants</li>
                <li>ONBOARD_OLED_SDA = const(5)</li>
                <li>ONBOARD_OLED_SCL = const(4)</li>
                <li># Declare I2C and OLED interfaces</li>
                <li>import machine, ssd1306</li>
                <li>import framebuf</li>
                <li>onboard_oled_i2c = machine.I2C(sda=machine.Pin(ONBOARD_OLED_SDA), scl=machine.Pin(ONBOARD_OLED_SCL))</li>
                <li>onboard_oled = ssd1306.SSD1306_I2C(128, 64, onboard_oled_i2c)</li>
                <li># Declare image (replace bytearray with converted image from form)</li>
                <li>image = bytearray(b'\x00\x00\x00\x00\x00\x00\xC0\xF0\xF8\xFC\xFC\xB8\x18\x00\x00\x00\x80\xE0\xE0\xE0\xC0\xC0\x80\x80\x80\x80\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\xE0\xF0\xE0\xE0\xF0\xF8\xFF\xFF\xFF\xFF\xFE\xFE\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xE7\xC2\xC0\xC0\xC0\xC0\xE8\xF8\xF8\xF8\xF0\xF0\xF0\xE0\xE0\xE0\xC0\xC0\xC0\x80\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\xF8\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\x7F\xFF\xFF\xFF\xFF\xFF\xFF\x3F\x1F\x1F\x1F\x3F\x3F\x7F\xFF\xFF\xEF\xC3\x81\x81\x83\x83\x87\x07\x0F\x07\x0F\x0F\xFF\xFF\xF9\xF0\xE0\xE0\xE0\xFE\xFE\xFE\xFE\xFC\x1C\x00\x00\x00\x00\x00\x00\xC0\xC1\xC1\xC3\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xDF\xC1\xC0\xC0\x80\x01\x01\x01\x03\x00\x00\x00\x00\x00\x04\x0E\x0F\x1F\x1F\x1F\x3F\xBF\xFF\xFF\xFF\xFF\xFE\xFE\xFE\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\x3F\x1F\x3E\x3E\x3E\x00\x00\x00\x00\x01\x7F\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\x03\x03\x07\x07\x07\x03\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x0E\x0F\x1F\x1F\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xF1\xF0\xE0\x60\x00\x00\x80\xC0\x80\x80\x00\x00\x01\x01\xC3\xFF\xFF\xFF\xFF\xFF\x8F\x0F\x1F\x1F\x1F\x1F\x3E\xFE\xFE\xC4\xC0\x80\xC0\xC0\xF8\xF0\xF0\xF0\xE0\x60\x00\x38\x3E\x3F\x7E\x7C\xFC\xFE\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\xFF\x3C\x1C\x0C\x1F\x0F\x03\x01\x00\x00\x00\x00\x00\x01\x07\x0F\x1F\x3F\x7F\xFF\xFF\xFF\x9E\x1E\x1E\x3F\x07\x07\x4F\x7F\x7F\xF1\x71\x31\x01\x03\x01\x00\x80\x80\x00\x00\x06\x07\x07\x07\x07\x01\x01\x61\x71\xFB\xFF\xFF\x9F\x9F\x8F\xC7\xE1\x71\x38\x1C\x0F\x07\x07\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01\x03\x03\x07\x07\x00\x00\x00\x00\x10\x10\x1E\x3F\x3E\x3E\x3E\x3E\x3F\x3F\x39\x38\x38\x3C\x3C\x1E\x1E\x1E\x1E\x0E\x0F\x0F\x07\x03\x01\x01\x00\x01\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')</li>
                <li># Display image using frame buffer</li>
                <li>x = 0</li>
                <li>y = 0</li>
                <li>width = 64</li>
                <li>height = 64</li>
                <li>fb = framebuf.FrameBuffer(image, width, height, framebuf.MVLSB)</li>
                <li>onboard_oled.framebuf.blit(fb, x, y)</li>
                <li># Display changes (e.g. image)</li>
                <li>onboard_oled.show()</li>
            </ul>
        </div>
    </div>
</div>
