﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>We do not store the uploaded files, nor the generated image scripts.  We will not contact you based on usage of this site, nor will we share your details with anyone else.  Please feel free to use the site anonymously and be confident that your privacy is beyond our reach.</p>
